DBNAME=penghitung_sembako
DBUSER=root
DBPASS=
DBHOST=localhost
DBDIALECT=mysql
PORT=3000

MINIO_ENDPOINT=localhost
MINIO_PORT=9002
MINIO_USE_SSL=false
MINIO_ACCESS_KEY=minioadmin
MINIO_SECRET_KEY=minioadmin
MINIO_BUCKET=groceries
# Use your public domain and proxy to MinIO from Nginx
MINIO_URL=http://sembako.sendiko.my.id